#balance-container{
	width: 40%;
	height: 60%;
  	margin: 5% 30%;
  	text-align: center;	
}
#transLog{
  background: #ffffff;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  margin-top:15%;
  margin-bottom: 5%;
  width: 100%;
  max-height: 30%;
  overflow-y: auto;
  /*margin: 5% 30%;*/
}

#logTitle{
	font-family: brownieFont;
	color:#000000;
}

.balanceCoinsText{
  color: #ffffff;
  font-size: 4em;
  padding: 0px 5px 3% 5px;
  /*text-transform: uppercase;*/
  font-family: brownieFont;
}
.coin_text{
  background-color: #2d7ac6;
  padding: 0px 10px 0px 10px;
}