@font-face {
  font-family: brownieFontIcon;
  src: url('../fonts/FontAwesome.otf');
}


#balance-container{
	width: 40%;
	height: 100%;
  margin: 5% 30%;
  text-align: center;	
}
#transLog{
  background: #000000;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  margin-top:10%;
  margin-bottom: 5%;
  width: 100%;
  max-height: 40%;
  overflow-y: hidden;
  /*margin: 5% 30%;*/
}

#logTitle{
	font-family: brownieFont;
	color:#000000;
  background-color: #ffffff;
  padding-top: 2%;
  padding-bottom: 2%;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;  
}

.balanceCoinsText{
  color: #ffffff;
  font-size: 4em;
  padding: 0px 5px 3% 5px;
  /*text-transform: uppercase;*/
  font-family: brownieFont;
}
.coin_text{
  background-color: #2d7ac6;
  padding: 0px 10px 0px 10px;
}

#trans{
  background-color: #000000;
}

#txSpanDiv{
  padding-top: 2%;
  padding-bottom: 2%;  
}

#transspan{
  background-color: #000000;
  color: #ffffff;
  font-size: 1.5em;
}

#txAddr{
  background-color: #000000;
  color: #ffffff;
  font-size: 0.75em;
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
}

.sentTxSpan:before{font-family: brownieFontIcon;content: "\f062 ";}
.recTxSpan:before{font-family: brownieFontIcon;content: "\f063 ";}
