
.menuModal.open {
/*  opacity: 1;
  position: fixed;
  height: 100%;
  width: 100%;
*/  
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 5%; /* Location of the box */
    padding-left: 5%;
    left: 0;
    top: 0;
    opacity: 1;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,1); /* Black w/ opacity */
  animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.menuModal.close {
  opacity: 0;
  animation: blowUpModalTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}


@keyframes blowUpModal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes blowUpModalTwo {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
/*
.menu-con .button-copy {
  text-align: center;
  line-height: 144px;
  text-transform: uppercase;
  font-weight: bold;
  color: #f7f7f7;
}*/

.menuModal {
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}

